body{
   margin:0px;
   font-family: "Lato", sans-serif;
    
}

#hero{
   background-image: url(../HomePlanner/Image/backgrounf.jpg);
    background-size:cover;
    background-position: center center;
    position: static;
    top:0;
    bottom:0;
    height: 100vh;
    z-index: -10;
}

    .overlay{
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0.6;
        background: rgb(0, 0, 0);
        
    }
    
 #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid rgb(199, 0, 255);
    background-color: rgb(12, 12, 12);
    opacity: 0.5;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
   

.control-label{
    font-weight: bold;
}
.modal-content {
    border: 1px solid rgb(155, 227, 242);
}
   
 

.modal-header{
    background-color: rgb(155, 227, 242);
}

.modal-footer{
    background-color: rgb(155, 227, 242);
   
}

.input-xlarge{
    width:100%;
    border:1px solid rgb(199, 0, 255);
    
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pbody{
    background:rgba(161, 167, 175,0.5);
}

